<!DOCTYPE HTML>
<html>
<head>
    <title>Node.js + Express + Socket.IO</title>
</head>
<body>
    <h1>Welcome!</h1>
    <pre>You should probably keep your console open.</pre>
    <button id="msg-send">Send message to server</button>

    <!-- Scripts -->
    <script src='http://code.jquery.com/jquery-latest.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js'></script>
    <script src='js/script.js'></script>
</body>
</html>